.root {
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";

    -fx-background-image: url("MainBg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;

    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
}

#main {
    -fx-padding: 0px 450px 0px 450px;

    -fx-alignment: center;
    -fx-spacing: 10;

    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
}

#main HBox {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 10 10 10 10;
}

#main HBox .button {
    -fx-pref-width: 143.5;
    -fx-pref-height: 30;

    -fx-border-radius: 25;
    -fx-background-radius: 25;

    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-insets: -1;
}

#main HBox .button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1.5;
}

#title {
    -fx-alignment: center-left;
    -fx-font-size: 45px;
}