.root {
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";

    -fx-background-image: url("mainBg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;

    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
}

#main {
    -fx-spacing: 15px;

    -fx-padding: 40px;
}

#main VBox .label {
    -fx-font-size: 25px;
}

#main VBox HBox .label {
    -fx-font-size: 18px;
}

#main VBox {
    -fx-spacing: 15px;
}

#main HBox {
    -fx-spacing: 15px;
}

#main HBox .text-field {
    -fx-pref-width: 300px;
}

#main HBox .date-picker {
    -fx-pref-width: 300px;
}

#title {
    -fx-font-size: 45px;
}

#bottom {
    -fx-padding: 0px 40px 40px 40px;
}

#bottom HBox {
    -fx-spacing: 15px;
    -fx-padding: 10px 0px 10px 0px;
}

#bottom HBox .button {
    -fx-pref-width: 143.5px;
    -fx-pref-height: 35px;

    -fx-border-radius: 25px;
    -fx-background-radius: 25px;

    -fx-background-color: #FFFFFF;
}

#bottom HBox .button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2.5px;
}

